* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-color: rgb(247, 247, 245);
  color: rgb(31, 31, 31);
}

.centerHeader {
  margin: 20px;
}

img {
  max-width: 500px;
}

.ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  /* box-shadow: 0 0 5px rgb(180, 180, 179);
  background-color: white; */
}

a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

a:hover {
  opacity: 65%;
}

.previewHeader {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.blogListItem {
  padding: 15px 15px 15px 15px;
}

.blogBoard h3, h1 {
  text-align: center;
}

.blogBoard h1 {
  font-size: 46px;
}

.blogBoard h3 {
  margin-bottom: 25px;
}

.blogThumb {
  background-size: auto 100%;
  background-position: center;
  width: 100%;
  max-width: 145px;
  height: 120px;
  box-shadow: 0 0 4px rgb(180, 179, 179);
}

.previewText {
  font-weight: 200;
  margin-bottom: 5px;
  margin-block: 0;
  margin-top: 8px;
}

.previewTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;

}

.authorPreview {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 12px;
}

.previewContainer {
  display: flex;
}

Navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid rgb(31, 31, 31);
  padding-bottom: 5px;
  font-weight: 500;
}

.profileContainer {
  display: flex;
  justify-content: center;
}

.profileText {
  padding-bottom: 50px;
}