* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
}

img {
  max-width: 500px;
}

.ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.previewHeader {
  font-weight: 700;
  margin-bottom: 0;
}

.blogListItem {
  margin-left: 10px;
  margin-right: 10px;
}

.blogBoard h3, h1 {
  text-align: center;
}

.blogBoard h1 {
  font-size: 46px;
  margin-bottom: 10px;
}

.blogBoard h3 {
  margin-top: 10px;
  margin-bottom: 45px;
}

.blogThumb {
  max-height:50px;
}

.previewText {
  font-weight: 200;
  margin-left: 10px;
}

.previewContainer {
  display: flex;
  align-items: center;
}